<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body class="bg-dark">

<div class="jumbotron text-center bg-light text-dark">
  <div class="container">
    <i class="fas fa-vial fa-10x text-dark"></i>
    <h1>Unit Conversion Web Service</h1>
    <p>This is a web service built with Spring Boot and deployed to Heroku.</p>
  </div>
</div>
<div class="container text-light">
  <div class="alert alert-light text-center" role="alert">
    To deploy your own copy, and learn the fundamentals of Spring Boot and Heroku, head over to the
    <a href="https://github.com/jrshutske/unit-conversion-api" class="alert-link">
    unit-conversion-api</a> repository.
  </div>
  <div class="row">
    <div class="col-md-6">
      <h3>How to use this api</h3>
      <ul>
        <li>Enter the measurement in question and this api will return the conversion into every other unit type, metric and imperial.</li>
        <li>Where possible it will adjust for your location.</li>
        <li>Measurements supported:</li>
        <li>Volume - gallons, quarts, cups, fluid ounces, liters, milliliters</li>
        <li>Length - miles, kilometers, yards, meters, feet, inches, centimeters, millimeters</li>
        <li>Weight - tons, metric tons, stone, pounds, kilograms, grams, ounces</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3>Convert</h3>
      <p>This is where we should put a potential form.</p>
    </div>
  </div>
  <div class="alert alert-light text-center" role="alert">
    <span>Try out the api here: </span>
    <a href="https://java-unit-conversion.herokuapp.com/api/length/kilometer/1337" class="alert-link">
       https://java-unit-conversion.herokuapp.com/api/length/kilometer/1337</a>
  </div>
</div>
</body>
</html>
