<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body class="bg-dark">

<div class="jumbotron text-center bg-light text-dark">
  <div class="container">
    <i class="fas fa-vial fa-10x text-dark"></i>
    <h1>Unit Conversion Web Service</h1>
    <p>This is a web service built with Spring Boot and deployed to Heroku.</p>
  </div>
</div>
<div class="container text-light">
  <div class="alert alert-light text-center" role="alert">
    To deploy your own copy, and learn the fundamentals of Spring Boot and Heroku, head over to the
    <a href="https://github.com/jrshutske/unit-conversion-api" class="alert-link">
    unit-conversion-api</a> repository.
  </div>
  <div class="row">
    <div class="col-md-6">
      <h3>How to use this api</h3>
      <ul>
        <li>Enter the measurement in question and this api will return the conversion into every other unit type, metric and imperial.</li>
        <li>Where possible it will adjust for your location.</li>
        <li>Measurements supported:</li>
        <li>Volume - gallons, quarts, cups, fluid ounces, liters, milliliters</li>
        <li>Length - miles, kilometers, yards, meters, feet, inches, centimeters, millimeters</li>
        <li>Weight - tons, metric tons, stone, pounds, kilograms, grams, ounces</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3>Convert</h3>
      <form id="form">
        <div class="form-control">
          <select id="sel_type" onchange="getUnits()"></select>
        </div>
        Convert
        <div id="div_unit_1" class="form-control">
          <input id="txt_unit_val_1" type="text" />
          <select id="sel_unit_1"></select>
        </div>
         to
        <div id="div_unit_2" class="form-control">
          <!--<input id="txt_unit_val_2" type="text" />-->
          <select id="sel_unit_2"></select>
        </div>

        <input id="btn_submit" type="button" value="Convert" onclick="gen_output();" />

        <div id="output">
        </div>
      </form>
    </div>
  </div>
  <div class="alert alert-light text-center" role="alert">
    <span>Try out the api here: </span>
    <a href="https://java-unit-conversion.herokuapp.com/api/length/kilometer/1337" class="alert-link">
       https://java-unit-conversion.herokuapp.com/api/length/kilometer/1337</a>
  </div>
</div>

<script>
    var dropdown_type = document.getElementById("sel_type");
    var dropdown_unit_1 = document.getElementById("sel_unit_1");
    var dropdown_unit_2 = document.getElementById("sel_unit_2");
    var txt_unit_1 = document.getElementById("txt_unit_val_1");
    var btn_submit = document.getElementById("btn_submit");
    var output = document.getElementById("output");

    var url = "https://java-unit-conversion.herokuapp.com/api"


    const getUnitType = () => {

      let xhr = new XMLHttpRequest();
      //let url = 'localhost:5000/api';

      xhr.open("get", url, true);
      xhr.withCredentials = true;


      if (xhr) {
        xhr.onreadystatechange = () => {

          if (xhr.readyState == 4) {

            var obj = JSON.parse(xhr.responseText);

            for (var unit in obj) {
              var option = document.createElement("option");
              option.text = obj[unit];
              //console.log(unit);
              option.value = obj[unit];
              dropdown_type.appendChild(option);
            }
          }
        }

        xhr.send();
      }
    }

    const getUnits = () => {

      let xhr = new XMLHttpRequest();
      let url2 = url + '/' + dropdown_type.value;
      //let url = 'localhost:5000/api';

      xhr.open("get", url2, true);
      xhr.withCredentials = true;

      dropdown_unit_1.innerHTML = "";
      dropdown_unit_2.innerHTML = "";

      if (xhr) {
        xhr.onreadystatechange = () => {

          if (xhr.readyState == 4) {

            var obj = JSON.parse(xhr.responseText);

            for (var unit in obj)
            {
              var option = document.createElement("option");
              option.text = obj[unit];
              //console.log(unit);
              option.value = obj[unit];
              //dropdown_unit_1.appendChild(option);
              dropdown_unit_2.appendChild(option);
              dropdown_unit_1.innerHTML = dropdown_unit_2.innerHTML;
            }
          }
        }

        xhr.send();
      }
    }

    const gen_output = () => {

      let xhr = new XMLHttpRequest();
      let url2 = url + '/' + dropdown_type.value + '/' + dropdown_unit_1.value + '/' + parseFloat(txt_unit_1.text);
      //let url = 'localhost:5000/api';

      var out_text = "\n";

      xhr.open("get", url2, true);
      xhr.withCredentials = true;

      if (xhr) {
        xhr.onreadystatechange = () => {

          if (xhr.readyState == 4) {

            var obj = JSON.parse(xhr.responseText);

            console.log(obj)

            for (var key in obj)
            {
              var first = key.charAt(0).toUpperCase();
              var unit = key.replace(key.charAt(0), first) + "s";

              var val = parseFloat(obj[key]);

              console.log(key + " : " + val);
              out_text += val + " " + unit + "\n";
            }
          }
        }

        xhr.send();
      }

      var h4 = document.createElement("h4");
      h4.text = txt_unit_1.text + " " + dropdown_unit_1.text + " is equal to: " + out_text;

      output.appendChild(h4);
    }

    getUnitType();
</script>

</body>
</html>
